<div class="row posts-index">
    <div class="small-12 large-4 columns">
      <%= render 'categories/index'%>
    </div>
    <% @posts.each do |post| %>
      <div class="small-12 large-4 columns">
        <div class='post'>
          <h3><%= link_to "#{post.title}", post %></h3>
          <div class="main_picture"><%= image_tag post.main_picture_url if post.main_picture.file.present? %></div>
          <p><%= Category.find(post.category_id).category_name %> <%= post.created_at %></p>
          <% if has_rights? %>
            <p><%= link_to 'Edit', edit_post_path(post) %> <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
          <p><p>
        </div>
      </div>
    <% end %>
</div>

<%= link_to 'New Post', new_post_path if has_rights? %>
