    <% @categories.each do |category| %>
        <h2><%= category.category_name %></h2>
        <p><%= link_to 'Edit', edit_category_path(category) if has_rights? %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } if has_rights? %></p>
        </p>
        <% SubCategory.where(category_id: category.id).each do |sub_category| %>
        <h4><%= sub_category.sub_category_name %></h4>
        <% end %>
    <% end %>
<br>
<%= render 'form' %>
<%= render 'subcategory_form' %>
<%= link_to 'New Category', new_category_path %>
<%= link_to 'Posts', posts_path %>
