<!DOCTYPE html>
<html>
  <head>
    <title>just_a_crud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row head1">
      <div class="small-12 large-4 columns">
        <h3>My Awesome Site</h3>
      </div>
      <div class="small-12 large-4 columns">
          <% if current_user.present? %>
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Sign in', new_user_session_path %>
            <%= link_to 'Sign up', new_user_registration_path %>
          <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
